name: Build

on:
  workflow_dispatch: # Manual dispatch from the Actions tab in GitHub.
  workflow_call: # Allows this workflow to be called from other workflows.

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java and Gradle
        uses: ./.github/actions/setup-gradle

      - name: Execute Gradle build
        run: ./gradlew build

      - name: Cache Gradle build
        uses: ./.github/actions/cache-gradle
